[submodule "src/ntrip_client"]
	path = src/ntrip_client
	url = https://github.com/LORD-MicroStrain/ntrip_client.git
[submodule "src/Mowgli-robot_localization"]
	path = src/Mowgli-robot_localization
	url = https://github.com/cloudn1ne/Mowgli-robot_localization
	branch = noetic-devel
[submodule "src/open_mower_ros"]
	path = src/open_mower_ros
	url = https://github.com/Strambauer/open_mower_ros.git
